body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #494949;
  overflow-y: scroll;
  --soft-red-text: #c04040;
}

html {
  position: relative;
}

.layout {
  max-width: 816px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--soft-red-text);
}

a:hover {
  text-decoration: underline;
}

h1, h3, h3 a, h2, h5 {
  color: var(--soft-red-text);
}

h5 {
  font-size: 1.25rem;
}

h3 {
  margin: 30px 0;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

.post pre {
  overflow: auto;
  background: lavender;
  padding: 10px;
}

.headline {
  padding: 5px 0;
}

.headline pre {
  display: inline-block;
  margin-left: 12px;
}

.headline h5 {
  margin: 0;
}
